

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'poppins',sans-serif;
  background-image: linear-gradient(to left,rgb(34, 143, 238),rgb(60, 255, 70));
  color: #ffffff;
}

.container{
  width: 1280px;
  margin: auto;
}

#header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  min-height: 70px;
  padding: 0 20px;
  color: black;
}

#header h2{font-size: 2rem;}

.user_input{
  margin-top: 2px;
  width: 350px;
  text-align: center;
}

.user_input input{
  width: 80%;
  outline: none;
  padding: 10px;
  border: 3px solid rgb(0, 0, 0);
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  transition: all 0.30s ease-in-out;
}

.user_input button{
  cursor: pointer;
  padding: 10px;
  width: fit-content;
  color: rgb(255, 255, 255);
  transition: 1s;
  outline: none;
  background-color: rgb(0, 0, 0);
  border: 3px solid rgb(0, 0, 0);
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
}

.user-input button:hover{
  background-color: transparent;
  color: rgb(245, 245, 245);
}

#to_do_list{
  width: 500px;
  margin: auto;
}

.item{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
  border-radius: 15px;
  padding: 1rem;
  color: #ffffff;
  margin-top:15px;
  font-size: 1rem;
  font-family: 'poppins',sans-serif;
  background-color: rgb(0, 0, 0);
  border: 3px solid rgb(255, 255, 255);
  text-transform: uppercase;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  transition: all 0.30s ease-in-out;
}

.item:hover{
  box-shadow: 0 0 20px #000000;
  border: 1px solid #ffffff;
}

.item i{
  cursor: pointer;
  margin: 0 5px;
}

@media(max-width:1280px){
  .container{width: 100%;}
}

@media(max-width:768px){
  .container{width: 95%;}
  
  #header{
    padding: 20px;
    gap: 10px;
    align-items: center;
    flex-direction: column;
  }

  #header h2{margin: 10px 0;}

  .user_input{width: 100%;}

  #to_do_list{width: 100%;}
}

@media(max-width:480px){
  .user_input input{width: 74%;}
}

@media(max-width:320px){
  .user_input input{width: 60%;}
}
